.first-letter {
    font-weight: bold;
    color: red;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-box {
  margin-left: 25%;
  width: 50%;  
}

#words {
    margin-top: 2em;
    margin-bottom: 2em;
}

.result-area {
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    font-size: 400%;
}
